services:
  core:
    build:
      context: ../..
      dockerfile: utils/docker/core.Dockerfile
    ports:
      - "25101:25101"
    volumes:
      - core_data:/app/.data

  dashboard:
    build:
      context: ../..
      dockerfile: utils/docker/dashboard.Dockerfile
    ports:
      - "25102:25102"
    depends_on:
      - core

volumes:
  core_data:
