services:
  core:
    build:
      context: ../..
      dockerfile: utils/docker/core.Dockerfile
      args:
        SWIFT_BUILD_CONFIGURATION: ${SWIFT_BUILD_CONFIGURATION:-release}
    ports:
      - "25101:25101"
    volumes:
      - core_data:/root/workspace

  dashboard:
    build:
      context: ../..
      dockerfile: utils/docker/dashboard.Dockerfile
    ports:
      - "25102:25102"
    depends_on:
      - core

volumes:
  core_data:
